:root {
	--backgroundGradient: linear-gradient(70deg, #778da9, #869ebe);
	--Background: #0d1b2a;
	--keyNoteLight: #e0e1dd;
	--middleBlue: #415a77;
	--lightBlue: #778da9;
	--darkBlue: #1b263b;
	--lightKey: linear-gradient(#778da9 96%, #4a6481e0 3%, #2e3d59df 1%);
	--darkKey: linear-gradient(#202f4f 97%, #1b2d42 3%);
}
